cloud_id                 = "b1gtp69okn2sv7c6cgm5"
folder_id                = "b1gdjb0a2k4e2avgrigr"
zone                     = "ru-central1-a"
image_id                 = "fd8kst6nofct7j1dul9p"
public_key_path          = "~/.ssh/sm0ke.pub"
subnet_id                = "e9bhbms651fb7bpanpgg"
service_account_key_file = "../../appuser_key.json"
network_id               = "enp82jb3lv38k8899qs7"
app_disk_image           = "fd8pf3fmnmva6ku0ch34"
db_disk_image            = "fd85ve2mphf6lgg8lu1v"
access_key               = "YCAJEF6hC9mhzemrQNcsntest"
secret_key               = "YCORwmjgKE5d4YUljRlbWYkndnXyx-wo-H9Jtest"
bucket_name              = "storage-bucket"
