{
  "folder_id": "b1gdjb0ado1in1o2n123r",
  "subnet_id": "e9bhbmadlknwdlqnwldqk",
  "service_account_key_file":"/home/sm0ke/PycharmProjects/appuser_key.json",
  "source_image_id":"fd8clfsnakjwdlqkald",
  "image_name": "reddit-base-{{timestamp}}",
  "image_family": "reddit-base"
}
